@import '~normalize.css/normalize.css';

// 폰트 추가
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean');

html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}

// wrap
#v-wrap {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

// 헤더
#v-header {
	padding: 16px;
	box-sizing: border-box;
}
.v-header-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.v-title {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	h1 {
		font-size: 32px;
		margin: 0;
	}
}
.v-title-logo {
	background: url('../img/vote.png') no-repeat center center;
	background-size: 48px 48px;
	width: 48px;
	height: 48px;
	margin-right: 16px;
}
.v-header-timer {
	font-size: 24px;
}

// 컨텐츠
#v-content {
	flex-grow: 1;
	flex-shrink: 0;
	position: relative;
	#v-info {
		display: none;
	}
}
#v-map {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

//좌측 상단 메뉴 버튼
html.open {
	overflow: hidden;
}

.v-menu-toggle {
	width: 50px;
	height: 50px;
	position: absolute;
	// right: 0px;
	top: 0px;
	z-index: 1;
	background-image: url('http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/menu.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.close {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url('http://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#menu {
	width: 150px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: -152px;
	z-index: 10;
	border: 1px solid #c9c9c9;
	background-color: white;
	text-align: center;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
}

#menu.open {
	left: 0px;
}

.page_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 4;
	display: none;
}

.page_cover.open {
	display: block;
}

.v-menu-list {
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	cursor: pointer;
}

.v-menu-first {
	margin-top: 50px;
}

//정보 조회 닫기 버튼
.fa-times-circle {
	position: absolute;
	bottom: 186px;
	z-index: 999;
	font-size: 30px;
	left: 3px;
	cursor: pointer;
}
