@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean');

html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}
#v-wrap {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* 헤더 */
#v-header {
	/* padding: 10px; */
	text-align: center;
	background-color: black;
}
.v-header-top {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* margin-bottom: 10px; */
	display: inline-block;
	color: white;
}
.v-title {
	display: flex;
	align-items: center;
}
.v-title h1 {
	font-size: 35px;
}
.v-title-logo {
	background: url('../img/vote.png') no-repeat center center;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.v-header-timer {
	font-size: 30px;
}

/* 컨텐츠 */
#v-content {
	flex-grow: 1;
	position: relative;
}
#v-map {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}
.elected-tooltip {
	font-size: 14px;
}
.elected-tooltip p {
	margin: 0;
}

.v-info {
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 1;
	padding: 10px;
	box-sizing: border-box;
	max-width: calc(100% - 40px);
	background-color: rgba(255, 255, 255, 0.5);
}
.v-info p {
	margin-top: 0;
	margin-bottom: 0;
}

.v-now-loc {
	background: url('../img/location-icon.png') no-repeat center center;
	width: 40px;
	height: 40px;
}
