@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean');

html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
}
#v-wrap {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* 헤더 */
#v-header {
	padding: 16px;
	box-sizing: border-box;
}
.v-header-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.v-title {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.v-title h1 {
	font-size: 32px;
	margin: 0;
}
.v-title-logo {
	background: url('../img/vote.png') no-repeat center center;
	background-size: 48px 48px;
	width: 48px;
	height: 48px;
	margin-right: 16px;
}
.v-header-timer {
	font-size: 24px;
}

/* 컨텐츠 */
#v-content {
	flex-grow: 1;
	flex-shrink: 0;
	position: relative;
}
#v-map {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}
.v-elected-tooltip {
	font-size: 14px;
}
.v-elected-tooltip p {
	margin: 0;
}
.v-now-loc {
	border: 0;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	background: #ffffff url('../img/location-icon.png') no-repeat center center;
	background-size: 22px 22px;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.v-now-loc:hover {
	background-color: #f4f4f4;
}

.v-info {
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 1;
	padding: 10px;
	box-sizing: border-box;
	max-width: calc(100% - 40px);
	background-color: rgba(255, 255, 255, 0.5);
}
.v-info p {
	margin-top: 0;
	margin-bottom: 0;
}




/*20대 총선 정당 색상정보 테이블*/
.last-party-info{
	/* display: table; */
	  display: none;
    z-index: 999;
    position: absolute;
    right: 146px;
    top: 10px;
    background-color: rgba( 255, 255, 255, 0.5 );
}
.row{display: table-row;}
.cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;border-right: 1px solid #DDD;}
.party-new-nuri{background-color: #C9151E;}
.party-with-demo{background-color: #1870B9;}
.party-of-people{background-color: #006542;}
.party-justice{background-color: #FFCC00;}
.party-none{background-color: #fff;}
.fa{
	font-style :normal;
	font-size: 20px;
}
.btn {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
	border: 1px solid transparent;
	height: 45px;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-toolbar {
  margin-left: -5px;
}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn .caret {
  margin-left: 0;
}
.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btn-group-vertical > .btn-group > .btn {
  float: none;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* 버튼 1 */
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
  }
  .btn-default:focus,
  .btn-default.focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c;
  }
  .btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
  }
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
  }
  .btn-default:active:hover,
  .btn-default.active:hover,
  .open > .dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open > .dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
  .open > .dropdown-toggle.btn-default.focus {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c;
  }
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
	background-image: none;
  }
  .btn-default.disabled:hover,
  .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus,
  .btn-default[disabled]:focus,
  fieldset[disabled] .btn-default:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default.focus {
	background-color: #fff;
	border-color: #ccc;
  }
  .btn-default .badge {
	color: #fff;
	background-color: #333;
  }
