// 구역 툴팁
.v-elected-tooltip {
	font-size: 14px;
	p {
		margin: 0;
	}
}

// 내위치찾기 버튼
.v-now-loc {
	$size: 26px;
	width: $size;
	height: $size;
	padding: 0;
	border: 0;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	cursor: pointer;
	i {
		font-size: 16px;
		line-height: $size;
	}
	&:hover {
		background-color: #f4f4f4;
	}

	// 모바일에서는 아이콘 형태가 다름
	.leaflet-touch & {
		$msize: 34px;
		width: $msize;
		height: $msize;
		border: 2px solid rgba(0, 0, 0, 0.2);
		background-clip: padding-box;
		box-shadow: none;
		i {
			font-size: 18px;
			line-height: $msize - 4px;
		}
	}
}

//지도 hover
.data-layer:hover {
	fill-opacity: 0.9;
}
